    <form method="POST">              
        <button type="submit" id="button" name="button" value='Forward'>Forward </button></br>
        <button type="submit" id="button" name="button" value='Left'>Left </button>      
        <button type="submit" id="button" name="button" value='Right'>Right </button></br>
        <button type="submit" id="button" name="button" value='Backward'>Backward </button></br></br>
        <button type="submit" id="button" name="button" value='Stop'>Stop </button></br>        
        <h3 >
        <label>Current direction:   </label><%- direction%></h3>
    </form>
